* {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

.el-dropdown-menu__item:focus,
.el-dropdown-menu__item:not(.is-disabled):hover {
  background-color: #ecf5ff;
  color: #3fb5be !important;
}
